# EC2에 k3s 설치용 Ansible Playbook

# EC2에 Python 없으면 설치 -> 어떤 이미지/어떤 서버에도 안전하게 쓰기 위해 (e.g. 이미 Python이 설치되어 있는 AMI도 존재)
- name: Ensure Python3 is installed
  raw: |
    if ! command -v python3 >/dev/null 2>&1; then
      sudo dnf install -y python3
    fi
        
- name: Install k3s
  shell: curl -sfL https://get.k3s.io | sh -
  args:
    executable: /bin/bash

- name: Check k3s status
  shell: systemctl is-active k3s
  register: k3s_status
  changed_when: false
  failed_when: k3s_status.stdout.strip() != "active"
