# EC2에 k3s 설치용 Ansible Playbook

---
- name: Install K3s on EC2
  hosts: k3s_nodes
  become: yes
  gather_facts: no  # Python 없으면 fact 수집 불가

  tasks:
    - name: Ensure Python3 is installed
      raw: |
        if ! command -v python3 >/dev/null 2>&1; then
          sudo dnf install -y python3
        fi

    - name: Install k3s
      shell: curl -sfL https://get.k3s.io | sh -
      args:
        executable: /bin/bash

    - name: Check k3s status
      shell: sudo systemctl status k3s
      register: k3s_status
      ignore_errors: yes

    - debug:
        msg: "{{ k3s_status.stdout }}"
